/* .section {
  padding: 4px;
} */

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.flexContainer {
  display: flex;
  gap: 4px;
}

.input {
  display: block;
  padding: 2px;
  border-radius: 4px;

  font-size: 12px;
  line-height: 1;

  border: 1px solid green;
}

.name {
  width: 100%;

  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.lvl {
  width: 36px;
}
